#heading__logo img{
    margin: 10% auto 5%;
}

#heading__icone{
    margin: auto;
}

.fa-facebook{
    font-size: 40px;
    color: #222121;
}

#banner{
    width: 100%;
    height: 180px;
    margin: 20px auto;
    opacity: 0.9;
}

#service__confiance img{
    width: 150px;
    margin: auto;
}

.quality__street{
    width: 100%;
    height: 180px;
}

